*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Bebas Neue', sans-serif;;
}

a{
    text-decoration: none;
    color: black;
}

body{
    width: 100vw;
    height: 100vh;
    background-image: url(../assets/imgs/background-site-supra-2.png);
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 1;
}

.home{
    position: absolute;
}

.logo-site{
    width: 200px;
    display: flex;
    position: relative;
    left: 80px;
}

.logo-site img{
    width: 200px;
    cursor: pointer;
}


.list{
    list-style: none;
    display: flex;
    color: black;
    position: relative;
    left: 750px;
}

.list-item{
    margin: 40px;
    font-size: 20px;
    cursor: pointer;
}

.list-item:hover{
    scale: 1.2;
    transition: 300ms;
    color: #FF3131;
}

.supra-img{
    width: 500px;
    position: relative;
    left: 600px;
    top: 330px;

}

.supra-img img{
    width: 700px;
    filter: drop-shadow(black 0px 0px 10px);
}

.supra-img img:hover{
    width: 710px;
    transition: 300ms;
}

.supra-description{
    width: 450px;
    position: absolute;
    height: 200px;
    top: 440px;
    left: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-style: italic;
    cursor: default;

}

.supra-description h1{
    font-size: 6rem;
}

.supra-description p{
    width: 300px;
    position: relative;
    font-size: 2rem;
    text-align: center;
}

.blog{
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.contact{
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: red;
}